$colorLetra1: rgb(109, 25, 4);
$colorLetra2:rgb(173, 16, 16);
$colorLetra3: rgb(112, 26, 26);
$colorLetra4:rgb(172, 20, 20);
$altoDiv: 220px;
$fondoColor: rgb(219, 156, 60);
$fondoColor2:rgb(228, 212, 74);
$fondoColor3:rgb(219, 146, 35);
$fondoColor4:rgb(141, 128, 11);

